<p>
  forms works!
</p>
<form #tdForm="ngForm" (ngSubmit)="submit(tdForm)">
  <label>username:</label><input name="username" ngModel><br>
  <label>lastname:</label><input name="lastname" ngModel><br>
  <label>age:</label><input name="age" ngModel><br>
  <label>gender:</label><input name="gender" ngModel><br>
  <label>country:</label><input name="country" ngModel><br>
  
  <button type="submit">Send</button>
 </form>